body{
    background-color: grey;
  
}

.container{
    width: 90%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.png);
    max-width: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttons img{
    width: 50px;
    margin: 10px;
    height: 50px;
}

.buttons img:nth-child(2){
    width: 70px;
    height: 70px;
    
}

.time{
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
